/**
 * 用户登录
 * 
 * sobird<i@sobird.me> at 2023/06/12 8:33:53 created.
 */

.base-login {
  .mtm-form-item {
    border-bottom: 1px solid #e5e5e5;
    color: #555;
    .mtm-input-group-addon {
      background: none;
      border: none;
      padding: 0;
    }
    .mtm-input-affix-wrapper {
      border: none;
    }
    .mtm-input {
      border: none;
    }
  }
  .signup-btn {
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    color: #555;
    height: 48px;
    margin-top: 20px;
  }
}