.environment {
  display: inline-block;
  color: #fff;
  line-height: normal;
  border-radius: 4px;
  padding: 5px 6px;
  cursor: pointer;
  font-size: 12px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.24);
  }
  .env-tag {
    display: inline-block;
    margin-right: 5px;
  }
  .env-tag-cn {
    border-radius: 1px 0 0 1px;
    background-color: #e6a23c;
    padding: 0 4px;
  }
  .env-tag-en {
    border-radius: 0 1px 1px 0;
    background: rgba(83, 86, 103, 0.74);
    padding: 0 4px;
  }

  .prod,
  .staging {
    .env-tag-cn {
      background-color: #67c23a;
    }
  }
}

.mtm-dropdown.dropdown-env {
  
  .mtm-dropdown-menu-item {
    font-size: 12px;
  }
}