/**
 * 营销活动 卡片组件 样式
 * 
 * sobird<i@sobird.me> at 2023/09/14 1:53:19 created.
 */

.market-activity-card {
  background-color: #fff;

  .mtm-tabs-nav {
    margin-bottom: -3px;

    &::before {
      content: none;
    }
  }

  &-list {
    padding: 12px 0 0;
    margin: 0 -16px;
  }

  &-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;
    &:hover {
      background: #fbfbfb;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .campaign-info {
      flex: 1;
      display: flex;
      align-items: center;

      .campaign-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #eee;
        margin-right: 12px;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .campaign-icon-16 {
        background-image: url(./assets/16.png);
      }

      .campaign-icon-66 {
        background-image: url(./assets/66.png);
      }

      .campaign-icon-67 {
        background-image: url(./assets/67.png);
      }

      .campaign-icon-68 {
        background-image: url(./assets/68.png);
      }

      .campaign-icon-69 {
        background-image: url(./assets/69.png);
      }

      .campaign-icon-70 {
        background-image: url(./assets/70.png);
      }

      .campaign-text {
        font-weight: 400;
        flex: 1;
        margin-right: 20px;
        font-size: 14px;

        .campaign-title {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
        }

        .campaign-extra {
          color: #999;
          font-size: 12px;
          margin-top: 8px;
        }
      }
    }

    .campaign-side {}
  }
}