.layout-entry {
  overflow: hidden;
  background-color: #f9f9f9;
}

.entry-header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  .entry-header-box {
    height: 60px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo {
    display: flex;
    align-items: center;
    height: 60px;
    img {
      height: 32px;
      margin-right: 10px;
    }
  }
  .header-item {
    display: flex;
    align-items: center;
    height: 60px;
    .username {
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #222;
      text-align: justify;
    }
  }
}

.entry-body {
  padding-top: 60px;
}

.entry-footer {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  box-sizing: border-box;
  z-index: 999;
}