/*
 * View.scss
 * 
 * sobird<i@sobird.me> at 2023/10/16 20:51:50 created.
 */

$prefixCls: 'mix' !default;

.#{$prefixCls}-card-view {
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 16px;
  flex: 1;

  &:last-child {
    border-right: none;
  }

  &-hoverable {
    &:hover {
      background-color: #FBFBFB;
      cursor: pointer;
    }
  }
  &-bordered {
    border-right: 1px solid #e9eaf2;
  }

  &-content {
    margin-bottom: 4px;
  }

  &-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #666;
    padding-bottom: 2px;
    margin-bottom: 12px;
    span {
      border-bottom: 1px dotted #DBDBDB;
    }
  }

  &-value {
    font-size: 24px;
    color: #333;
    height: 100%;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    margin-right: 4px;
  }

  &-unit {
    font-size: 14px;
    color: #666;
    line-height: 1;
  }
  &-extra {
    font-size: 12px;
  }
}
