/**
 * LayoutMain Header style
 * 
 * sobird<i@sobird.me> at 2023/09/06 23:06:01 created.
 */

.app-header {
  height: 56px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgb(232, 232, 232);

  .header-brand {
    img {
      height: 32px;
    }
  }
}

.avatar-dropdown{
  width:162px;
}

.app-avatar {
  cursor: pointer;
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
}

.header-bread {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}