/**
 * 通用布局页面样式
 * 
 * sobird<i@sobird.me> at 2023/06/13 22:40:05 created.
 */

.layout-base {
  min-width: 1366px;

  .base-header {}

  .base-header-box {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 38px;
      margin-left: -852px;
    }
  }

  .base-body {
    position: relative;
    overflow: hidden;
    background: url('@/assets/mtm_login_bg.png') no-repeat center center, linear-gradient(-43deg, #ffc212 0%, #ffd000 100%);
    background-size: cover;

    .base-body-box {
      height: 640px;
      margin: 0 auto;
      width: 1366px;
      position: relative;
    }

    .base-window {
      position: absolute;
      top: 120px;
      left: 884px;
      width: 350px;
      height: 400px;
      background: #ffffff;
      box-shadow: 1px 3px 16px 0 rgba(209, 122, 0, 0.34);
      border-radius: 4px;

      .base-title {
        height: 49px;
        line-height: 49px;
        font-weight: 600;
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #333333;
        letter-spacing: 0 !important;
        text-align: center;
        border-bottom: 1px solid #ececec;
      }
    }
  }

  .base-footer {
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 180px;
      font-family: Helvetica;
      font-size: 14px;

      a {
        color: #333333;
        text-decoration: none;
      }

      img {
        margin-left: 20px;
        margin-right: 3px;
      }
    }
  }
}