.settle-pc {
  text-align: center;
  color: #585A6E;

  .box {
    margin: 100px auto;
    border-radius: 20px;
    border: 5px solid #ffb500;
    background-color: #fcf6d1;
    font-weight: 400;
    font-family: PingFangSC-Regular;
    width: 400px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.5;
  }
}