/**
 * 商家成长
 * 
 * sobird<i@sobird.me> at 2023/10/12 23:36:43 created.
 */

$baseFontColor: #333333;
$titleColor: #666;

.merchant-growth-card {
  .icon-qrcode {
    color: var(--primary);
  }
}

.growth-card-wrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-top: 12px;
  position: relative;

  .growth-card {
    flex: 1;
    background: #FBFBFB;
    border-radius: 2px;
    padding: 12px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: #F8F8F8;
    }

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &-name {
        font-size: 14px;
        color: $titleColor;
        line-height: 20px;
        flex: 1;
      }

      &-tag {
        font-size: 12px;
        color: #FF4338;
        background: rgba(255, 67, 56, 0.08);
        border-radius: 2px;
        height: 20px;
        line-height: 20px;
        padding: 0 4px;
      }
    }
  }

  .score-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .no-data {
      font-size: 14px;
      color: #999999;
      margin-left: 8px;
    }

    .score {
      color: $baseFontColor;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      height: 28px;
      width: fit-content;
      border-bottom: 1px dotted #D8D8D8;
      margin-bottom: 20px;
      cursor: pointer;

      .loading {
        display: inline-block;
        margin-right: 18px;
      }

      span {
        padding-left: 4px;
        font-weight: 400;
        font-size: 14px;
        color: $titleColor;
      }
    }
  }

  .notes-wrap {
    font-size: 13px;

    .tip {
      color: #999;
      line-height: 20px;
      margin: 6px 0;
    }

    .important-data {
      line-height: 20px;
      color: $baseFontColor;
      margin: 0;
    }
  }
}

// 商家店铺二维码样式
.merchant-shop-qrcode {
  color: $baseFontColor;
  font-size: 12px;
  text-align: center;

  &-wrap {
    background: #FFFFFF;
    padding: 0 12px;
    align-items: center;
    bottom: 24px;
  }

  &-title {
    margin-bottom: 4px;
    font-weight: 500;
  }

  &-desc {
    color: #999;
    margin-bottom: 8px;
  }

  .qrcode-box {
    width: fit-content;
    margin: 0 auto;
  }
}