/**
 * Layout Sytle
 * 
 * sobird<i@sobird.me> at 2023/09/06 18:47:34 created.
 */

.app-container {
  height: 100%;
}
.app-body {
  display: flex;
  flex: 1 1;
  height: calc(100% - 56px);
}
.app-main {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}