/**
 * 管理员表单组件
 * 
 * @todo 
 * 优化
 *
 * sobird<i@sobird.me> at 2023/10/26 23:02:31 created.
 */


.admin-form {

}

.id-type-text {
  font-weight: 500;
  color: var(--text-color-base);

  span {
    font-weight: 400;
    font-size: 12px;
    color: var(--text-color-weak);
  }
}

.auth-letter {
  display: flex;
  align-items: inherit;

  .shop-license-pic {
    font-size: 12px;
    color: var(--text-color-weak);

    >p {
      margin: 0;
    }

    .down-load {
      cursor: pointer;
      font-size: 12px;
      color: var(--primary);
    }
  }
}