
// @see https://www.npmjs.com/package/normalize.css
@import 'antd/dist/reset.css';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}




/* menu icon 新 icon 不要覆盖文件，仅更改版本号并增加类名 */

@font-face {
  font-family: 'merchantfont';
  src: url('//s3plus.meituan.net/v1/mss_28a77f134e5b4abf876b4ff035f4107f/iconfont/project/191/0.1.22/mshop.eot'); /* IE9*/
  src: url('//s3plus.meituan.net/v1/mss_28a77f134e5b4abf876b4ff035f4107f/iconfont/project/191/0.1.22/mshop.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//s3plus.meituan.net/v1/mss_28a77f134e5b4abf876b4ff035f4107f/iconfont/project/191/0.1.22/mshop.woff') format('woff'), /* chrome、firefox */
  url('//s3plus.meituan.net/v1/mss_28a77f134e5b4abf876b4ff035f4107f/iconfont/project/191/0.1.22/mshop.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//s3plus.meituan.net/v1/mss_28a77f134e5b4abf876b4ff035f4107f/iconfont/project/191/0.1.22/mshop.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.main-app-iconfont {
  font-family: 'merchantfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mshopmtmall-guizezhongxin:before { content: "\e000"; }
.icon-mshopcs-icon-location-o:before { content: "\e001"; }
.icon-mshopmtmall-dunpai:before { content: "\e002"; }
.icon-mshopguke:before { content: "\e003"; }
.icon-mshopmtmall-xiaoxi_pad:before { content: "\e004"; }
.icon-mshopchengchangrenwu_min:before { content: "\e005"; }
.icon-mshopshangjiachengchangv3:before { content: "\e014"; }
.icon-mshopmtmall-dianpuguanli:before { content: "\e007"; }
.icon-mshopmtmall-fahuoguanli:before { content: "\e008"; }
.icon-mshopmtmall-fuwushichang:before { content: "\e009"; }
.icon-mshopmtmall-gukeguanli:before { content: "\e00a"; }
.icon-mshopmtmall-guizeguanli:before { content: "\e00b"; }
.icon-mshopmtmall-pingtaikefu:before { content: "\e00c"; }
.icon-mshopmtmall-shangpinguanli:before { content: "\e00d"; }
.icon-mshopmtmall-shouhouguanli:before { content: "\e00e"; }
.icon-mshopmtmall-shujuzhongxin:before { content: "\e00f"; }
.icon-mshopmtmall-xiaoxizhongxin:before { content: "\e010"; }
.icon-mshopmtmall-yingxiaozhongxin:before { content: "\e011"; }
.icon-mshopmtmall-yuangongguanli:before { content: "\e012"; }
.icon-mshopmtmall-zhanghuzijin:before { content: "\e013"; }
.icon-mshopmtmall-shangjiachengchang:before { content: "\e014"; }
.icon-mshopmtmall-shouqi:before { content: "\e015"; }
.icon-mshopmtmall-zhankai:before { content: "\e016"; }
.icon-mshopgukeguanli:before { content: "\e00a"; }
.icon-mshopxiaoxishezhi:before { content: "\e017"; }
.icon-mshopthhb-gengduo:before { content: "\e018"; }
.icon-mshopthhb-success:before { content: "\e019"; }
.icon-mshopthhb-warning:before { content: "\e01a"; }
.icon-mshopthhb-error:before { content: "\e01b"; }
.icon-mshopthhb-info:before { content: "\e01c"; }
.icon-mshopthhb-satisfied:before { content: "\e01d"; }
.icon-mshopthhb-unsatisfied:before { content: "\e01e"; }
.icon-mshopthhb-xiazai:before { content: "\e01f"; }
.icon-mshopthhb-touxiang1:before { content: "\e020"; }
.icon-mshopcaiwu:before { content: "\e021"; }
.icon-mshopthhb-tianjia:before { content: "\e022"; }
.icon-mshopthhb-info_filled:before { content: "\e023"; }
.icon-mshopthhb-warning_filled:before { content: "\e024"; }
.icon-mshopthhb-error_filled:before { content: "\e025"; }
.icon-mshopthhb-success_filled:before { content: "\e026"; }
.icon-mshopthhb-add_outlined:before { content: "\e027"; }
.icon-mshopthhb-hide_outlined:before { content: "\e028"; }
.icon-mshopthhb-chat_outlined:before { content: "\e029"; }
.icon-mshopthhb-duplicate_outlined:before { content: "\e02a"; }
.icon-mshopthhb-show_outlined:before { content: "\e02b"; }
.icon-mshopfuwushichang:before { content: "\e02c"; }


/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4264481 */
  src: url('//at.alicdn.com/t/c/font_4264481_duotppleaqu.woff2?t=1695374283378') format('woff2'),
       url('//at.alicdn.com/t/c/font_4264481_duotppleaqu.woff?t=1695374283378') format('woff'),
       url('//at.alicdn.com/t/c/font_4264481_duotppleaqu.ttf?t=1695374283378') format('truetype'),
       url('//at.alicdn.com/t/c/font_4264481_duotppleaqu.svg?t=1695374283378#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping:before {
  content: "\e602";
}

.icon-home-fill:before {
  content: "\e6ca";
}

.icon-express:before {
  content: "\e708";
}

.icon-message-center:before {
  content: "\e886";
}

.icon-home:before {
  content: "\e61e";
}

.icon-customer-service:before {
  content: "\e616";
}

.icon-message:before {
  content: "\e668";
}

.icon-marketing:before {
  content: "\e62d";
}

.icon-rule:before {
  content: "\e601";
}

.icon-verified-user:before {
  content: "\e600";
}

.icon-customer:before {
  content: "\e64d";
}

.icon-woman:before {
  content: "\e63c";
}

.icon-data:before {
  content: "\e664";
}

.icon-shop:before {
  content: "\e6b6";
}

.icon-fund:before {
  content: "\e63e";
}

.icon-commodity:before {
  content: "\e62c";
}

.icon-service:before {
  content: "\e62e";
}

.icon-growth:before {
  content: "\e61f";
}
