
// @see https://www.npmjs.com/package/normalize.css
@import 'antd/dist/reset.css';
@import './styles/presets.scss';
@import "./assets/font/iconfont.css";

html,
body {
  height: 100%;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

#root {
  height: 100%;
  width: 100%;
}

[class^="mtm"] {
  // font-size: inherit;
}
